<!DOCTYPE html>

<html>
    <head>
        {%load static %}
        <meta charset="utf-8">
        <meta name="vieport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'home/Angebot.css'%}">
        <title>
            Unser Angebot 
        </title>
        <nav class="navigationbar">  
            <a href="{% url 'home:Schuelerfirma' %}" class="navlink"> Home </a>
            <!--<a href="{% url 'home:TutorInnen'%}" class="navlink"> Unsere Tutoren </a>-->
            <a href="{% url 'home:Angebot'%}" class="navlink"> Unser Angebot </a> 
            <a href="{% url 'home:Kontakt'%}"class="navlink"> Kontakt </a> 
            <div class="supportsupport">
            <a href="{% url 'home:Support'%}" class="support"> Support </a>
            <!---<a href="{% url 'home:Login'%}" class="support">Login</a>-->
            </div>
        </nav>
    </head>
    <body class="main">
        <h1>
            Unser Angebot
        </h1>
        <p class="text">
        Wir bieten unsere Unterrichtsstunden in der Zeit des regulären Unterrichts und in der direkt darauffolgenden 
        Zeit, also zwischen 09:00 Uhr und 18:00 Uhr an. Ausnahmen sind nach Vereinbarung aber möglich. Unterrichtsstunden
        haben dabei in der Regel eine Länge von 45 Minten, allerdings können nach Vereinbarung auch anderweitige Zeiten festgelegt werden.
        Die pauschalen Tarife sind im Folgenden aufgeführt, aller Erlös kommt der Abitur-Kasse zu Gute.
        </p>
        <table class="Preise">
            <th class="Preise">
                Unterrichtsform
            </th>
            <th class="Preise">
                Preis pro Unterrichtseinheit
            </th>
            <tr>
                <td>
                    Einmaliger Unterricht 
                </td>
                <td>
                    7 Euro 
                </td>
            </tr>
            <tr>
                <td>
                    Regulärere Unterricht (ab drei Stunden) 
                </td>
                <td>
                    5 Euro 
                </td>
            </tr>
        </table>
        <img src="https://upload.wikimedia.org/wikipedia/commons/e/ed/Logo_Gau%C3%9F-Gymnasium_Frankfurt_%28Oder%29.jpg" alt="Gauss-Logo"  class="bootomnavpicutre">
<div class="bottomnav">
    <a href="{% url 'home:Impressum'%}" class="navlink"> Impressum </a>
    <a href="{% url 'home:Datenschutz'%}" class="navlink">Datenschutz </a> 
    <a href="{% url 'home:Support'%}" class="navlink"> Hilfe</a>
</div>


</html>
