<!DOCTYPE html>
<html>
    <head>
        {%load static %}
        <meta charset ="utf-8">
        <meta name="viewport" content="width = display-width initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'home/Support.css'%}">
        <title>
            Support
        </title>
        <script>
            function run(){
                window.alert("Diese Funktionalität wird leider noch nicht unterstützt, wir arbeiten daran");
            }

        </script> 
        <nav class="navigationbar">
            <a href="{% url 'home:Schuelerfirma' %}" class="navlink"> Home </a>
            <!--<a href="{% url 'home:TutorInnen'%}" class="navlink"> Unsere Tutoren </a>-->
            <a href="{% url 'home:Angebot'%}" class="navlink"> Unser Angebot </a> 
            <a href="{% url 'home:Kontakt'%}"class="navlink"> Kontakt </a> 
            <div class="supportsupport">
            <a href="{% url 'home:Support'%}" class="support"> Support </a>
            <!--<a href="{% url 'home:Login'%}" class="support">Login</a>-->
            </div>
        </nav>
    </head>
    <body class="main">
        <h1>
            Support
        </h1>
        <p>
            Falls die Funktionalität der Seite beeinträchtigt sein sollte,
            so melden Sie sich bitte unter <a href="mailto:projekt1.0@gauss.schulen-ffedu.de">projekt1.0@gauss-gymnasium.de</a> ,
            wir versuchen dann schnellstmöglich das Problem ausfindig zu machen 
            und zu lösen.<br>
            Sollten Sie eine Unterrichtsstunde gebucht haben und Probleme bei 
            der Anmeldung im Online-Portal haben, werden wir auch hier versuchen schnellstmöglich 
            über die E-Mail Hilfe anzubieten. <br>
            Falls aufgrund von Wartungarbeiten am Server die Website temporär nicht verfügbar sien sollte,
            so werden Sie hier ebenfalls informiert werden. 
            <!--<form>
                <label for="E-Mail"> E-Mail-Adresse</label> <br>
                <input type="text" id="E-Mail" name="E-Mail"> <br>
                <label for="Nachricht"> Nachricht </label> <br>
                <input type="text" id="Nachricht" name="Nachricht"> <br>
            </form>
            <button onclick=run()> Absenden </button> <br> 
            Vielen Dank für Ihre Nachricht. -->
        </p>
        <img src="https://upload.wikimedia.org/wikipedia/commons/e/ed/Logo_Gau%C3%9F-Gymnasium_Frankfurt_%28Oder%29.jpg" alt="Gauss-Logo"  class="bootomnavpicutre">
        <div class="bottomnav">
            <a href="{% url 'home:Impressum'%}" class="navlink"> Impressum </a>
            <a href="{% url 'home:Datenschutz'%}" class="navlink">Datenschutz </a> 
            <a href="{% url 'home:Support'%}" class="navlink"> Hilfe</a>
        </div>
    </body>
</html>

