<!DOCTYPE html>
<html>
    <head>
        {%load static%}
        <meta charset="utf-8">
        <meta name="vieport" cotent="widhh=device-width,initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'home/Tutoren.css'%}">
        <title>
            Unsere Tutoren
        </title>
        <nav class="navigationbar">  
            <a href="{% url 'home:Schuelerfirma' %}" class="navlink"> Home </a>
            <a href="{% url 'home:TutorInnen'%}" class="navlink"> Unsere Tutoren </a>
            <a href="{% url 'home:Angebot'%}" class="navlink"> Unser Angebot </a> 
            <a href="{% url 'home:Kontakt'%}"class="navlink"> Kontakt </a> 
            <div class="supportsupport">
            <a href="{% url 'home:Support'%}" class="support"> Support </a>
            <a href="{% url 'home:Login'%}" class="support">Login</a>
            </div>
        </nav>
    </head>
    <body class="main">
        <h1>
            Unsere Tutoren 
        </h1>
        <div class="left">
            <p>
                 {{Tutor1Name}} <br>
                 {{Tutor1Zeit}} <br>
                 {{Tutor1Darstellung}} 
            </p>
        </div>
        <div class="right">
            <p>
                {{Tutor2}}
            </p>
        </div>
        <img src="https://upload.wikimedia.org/wikipedia/commons/e/ed/Logo_Gau%C3%9F-Gymnasium_Frankfurt_%28Oder%29.jpg" alt="Gauss-Logo"  class="bootomnavpicutre">
<div class="bottomnav">
    <a href="{% url 'home:Impressum'%}" class="navlink"> Impressum </a>
    <a href="{% url 'home:Datenschutz'%}" class="navlink">Datenschutz </a> 
    <a href="{% url 'home:Support'%}" class="navlink"> Hilfe</a>
</div>
        
    
    
    </body>
</html>